# Ignore virtual environment
venv/
*.egg-info/
__pycache__/

# Ignore PyCharm settings
.idea/

# Ignore Python compiled files
*.pyc
*.pyo
*.pyd
*.pdb

# Ignore test-related files
*.coverage
*.tox
*.nox
*.coverage.*
*.hypothesis/

# Ignore environment files
*.env
*.env.*
